@import 'normalize.css';

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body,
.App {
  height: 100%;
}

main {
  padding: 3rem;
  max-width: 800px;
  width: 100%;
  flex-grow: 1;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  cursor: pointer;
  padding: 0.5rem 1.25rem;
  border: 1px solid var(--ui-7);
  color: var(--ui-0);
  border-radius: 2px;
  background-color: #fff;

  &:hover {
    border-color: var(--ui-6);
  }

  &:focus {
    outline: medium solid var(--green-7);
  }

  &:active {
    box-shadow: inset 0px 0px 1px 1px var(--ui-7);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--ui-7);
    color: var(--ui-6);
  }
}

:root {
  --ui-0: #0d141f;
  --ui-1: #1a283d;
  --ui-2: #283d5d;
  --ui-3: #375380;
  --ui-5: #6b80a0;
  --ui-6: #a2aec0;
  --ui-7: #dcdee0;

  --highlight: #007A2C;

  --blue-0: #1f3454;
  --blue-3: #355484;
  --blue-1: #263e64;
  --blue-2: #2e4974;
  --blue-4: #3d5f95;
  --blue-5: #507bbf;
  --blue-6: #7a9cd0;
  --blue-7: #a5bce1;

  --green-0: #0d4124;
  --green-3: #196339;
  --green-1: #114c2b;
  --green-2: #155732;
  --green-4: #316f48;
  --green-5: #3ed07e;
  --green-6: #7ddd9e;
  --green-7: #ace9bf;

  --purple-0: #432261;
  --purple-1: #502a72;
  --purple-2: #5d3284;
  --purple-3: #6b3a97;
  --purple-4: #7942aa;
  --purple-5: #9c57d9;
  --purple-6: #b484e5;
  --purple-7: #ccadef;

  --red-0: #5d1a17;
  --red-1: #6e201d;
  --red-2: #802723;
  --red-3: #922d29;
  --red-4: #a4342f;
  --red-5: #d1453f;
  --red-6: #e2786e;
  --red-7: #f0a69d;

  --teal-0: #063a37;
  --teal-1: #084642;
  --teal-2: #0b524d;
  --teal-3: #0f5e58;
  --teal-4: #126a64;
  --teal-5: #209e96;
  --teal-6: #69b6af;
  --teal-7: #9dcec9;

  --yellow-0: #745d30;
  --yellow-1: #684f1c;
  --yellow-2: #5c4518;
  --yellow-3: #533f15;
  --yellow-4: #93712c;
  --yellow-5: #d9a845;
  --yellow-6: #e3be7a;
  --yellow-7: #edd4a8;

}
